<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
            defer
        ></script>
        <link rel="stylesheet" href="./assets/css/style.css" />
        <title>Prototipo Chat IA</title>
    </head>
    <body>
        <section>
            <header>
                <h1>Prototipo Chat IA (ejs)</h1>
            </header>
            <div action="askBotWrapper">
                <input type="text" id="question" />
                <button class="ask-btn">preguntar</button>
            </div>
            <ul class="blackboard"></ul>
        </section>
        <script src="./assets/js/script.js"></script>
    </body>
</html>
