:root {
  --light-pink-color: rgba(224, 129, 175, 0.5);
  --light-blue-color: rgba(211, 238, 255, 0.5);
  --main-pink-color: rgb(225, 49, 133);
  --secondary-blue-color: rgb(108, 196, 250);
  --dark-pink-color: rgb(153, 8, 78);
  --dark-blue-color: rgb(56, 130, 176);
}
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.blackboard {
  min-height: 20rem;
}

.user {
  padding: 0.5rem;
  background: var(--light-blue-color);
}

.assistant {
  padding: 0.5rem;
  background: var(--light-pink-color);
}
