:root {
  --light-pink-color: rgb(224, 129, 175);
  --light-blue-color: rgb(211, 238, 255);
  --main-pink-color: rgb(225, 49, 133);
  --secondary-blue-color: rgb(108, 196, 250);
  --dark-pink-color: rgb(153, 8, 78);
  --dark-blue-color: rgb(56, 130, 176);
}
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
